<div class="book-form">
  <h2>{{ book._id ? "Edit Book" : "Add New Book" }}</h2>
  <form (ngSubmit)="onSubmit()">
    <input
      type="text"
      placeholder="Title"
      [(ngModel)]="book.title"
      name="title"
      required
    />
    <input
      type="text"
      placeholder="Author"
      [(ngModel)]="book.author"
      name="author"
      required
    />
    <input
      type="number"
      placeholder="Published Year"
      [(ngModel)]="book.publishedYear"
      name="publishedYear"
      required
    />
    <input
      type="text"
      placeholder="Genre"
      [(ngModel)]="book.genre"
      name="genre"
      required
    />
    <button type="submit">{{ book._id ? "Save Changes" : "Add Book" }}</button>
  </form>
</div>
